((= Approach =))

With @CICD:a:long, an iterative and comprehensive approach was adopted to evaluate the security of the CI/CD pipeline. The assessment was structured into several phases, each targeting specific aspects of the pipeline to ensure a thorough evaluation.
