((= Approach =))

The @SAST:long:cap focuses on the evaluation of the security controls implemented in the web application and the identification of potential vulnerabilities that could be exploited by an attacker to compromise the confidentiality, integrity, or availability of the systems and data involved in the web application.
