((* from "macros.typ.j2" import findings_table *))

= ((( target.data.name )))
<((( target.uname )))>

== Assignment

    The penetration test focused on verification of the security issues submitted by the researcher and the identification of potential vulnerabilities that could be exploited by an attacker to compromise the confidentiality, integrity, or availability of the systems and data involved in the target.

=== Disclosed Information

    ((* include target.uname + "/rd.typ.j2" *))

== Findings

    ((*- if target.findings.risks.sum_open > 0 *))
        During the responsible disclosure verification, the ((( team ))) team discovered ((( target.findings.risks.sum_open )))
        ((* if target.findings.risks.sum_open > 1 -*))
            vulnerabilities
        ((*- else -*))
            vulnerability
        ((*- endif *)).

        #figure(image(width: 90%, "/.build/((( target.uname )))/risks.png"))

        The table below gives an overview of the vulnerabilities and the risk classification.

        ((( findings_table(target, config) )))

        You may find the technical description of the discovered vulnerabilities and mitigation recommendation in the following sections.

        ((* for finding_group in target.findings.groups -*))
            #pagebreak()
            ((* include target.uname + "_" + finding_group.uname + ".typ.j2" *))
        ((* endfor -*))
    ((* else *))
        During the responsible disclosure verification, the ((( team ))) team was unable to locate any vulnerability within the scope of the assessment.
    ((* endif -*))
